$site_font: 'Baloo Da 2', cursive;

:root {
    --accent-color: #3455DB;
    --text-color: #173035;
    --shadow: 0 5px 40px rgba(99, 133, 134, 0.25);
    --border-color: #E0EBEB;
    --white: #ffffff;
}